<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Caching In App</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map">Map</a>
        </li>
      </ul>
    </div>
    <form class="d-flex" role="search" action="#" th:action="@{/cachepoints}" method="GET">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm" id="searchTerm">
      <datalist id="cache search">
        <option value="Alcatraz"></option>
        <option value="Cincinnati Artworks Mural Mystery"></option>
        <option value="Shawnee Lookout Cache"></option>
        <option value="Pop a Squat"></option>
        <option value="King Arthur"></option>
      </datalist>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>
</div>